<template id="usuario-template">
  <transition name="fade">
    <div class="usuario" v-show="visible">
      <section>
        <span @click="close" class="close">X</span>
        <img :src="usuario.foto" :alt="usuario.name"/>
      </section>
      <section class="usuario-data">
        <h3>{{usuario.name}}</h3>
        <span class="usuario-email">{{usuario.email}}</span>
        <span class="usuario-tel">Tel: {{usuario.phone}}</span>
      </section>
    </div>
  </transition>
</template>

<script>
  export default {
   props: ['usuario'],
   template: '#usuario-template',
      data() {
        return {
          visible: true
        }
      },
   methods: {
    close() {
      this.visible = false;
        }
      }
  }
</script>
<style scoped lang="scss">
*, *:after, *:before {
  box-sizing: border-box;
}

.close {
  padding-bottom: .3em;
  font-weight: bold;
  cursor: pointer;
}

.usuario {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
  background-color: #64B5F6;
  width: 25%;
  height: 130px;
  border-radius: 5px;
  box-shadow: 2px -2px 20px 3px rgba(0,0,0,0.75);

  &-data {
    display: flex;
    flex-direction: column;
  }

  &-email { padding-bottom: .5em; }

  & h3 {
    text-align: left;
    padding-left: .5em ;
  }
  & span {
    text-align: left;
    padding-left: .5em;
    display: block;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: all .5s;
}

.fade-enter, .fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

</style>
