<template>
  <div id="app">
    <img src="./assets/logo.png">
    <Usuarios> Usuarios de la empresa </Usuarios>
  </div>
</template>

<script>
import Usuarios from './components/Usuarios'
export default {
  name: 'app',
  components: {
    Usuarios
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
